  .container {
    max-width: 800px;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: bisque;

  }
  img {
    padding: 2rem;
    max-width: 300px;
  }

  #user-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    padding-top: 1rem;
  }
  .github_container_about{
    padding-top: 2rem;
  }
  .input_github{
    display: grid;
    justify-content: center;
    gap: 0.5rem;
    padding-bottom: 1rem;
  }

  .github_button{
    display: flex;
    justify-content: center;
  }